.one-column {
    display: grid;
    grid-template-columns: 1fr;
    @include base-grid();
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include base-grid();
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include base-grid();
}